.env

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
*.egg
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info
.installed.cfg
*.egg

# Virtualenv
.venv/
ENV/

#Data files
data/raw/*
data/processed/*

# IDE specific files
.vscode/

# OS specific files
.DS_Store